---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Massager from "../components/Massager";
---

<Layout title="Welcome to Astro.">
  <main>hey</main>
  <Massager client:load />
</Layout>
